# Spotify "Save to Spotify" button on playlist pages
# 1. Create an app at https://developer.spotify.com/dashboard
# 2. Set redirect URI to: https://litostswirrl.github.io/jazz-albums-recommender/
# 3. Copy your Client ID below and rename this file to .env
VITE_SPOTIFY_CLIENT_ID=
